@import "bootstrap";
@import "font-awesome";

nav {
  a {
    color: gray;
    text-decoration: none;
    &:hover {
      color: black;
      text-decoration: none;
    }
  }
}

.navbar-right {
  a {
    text-transform: capitalize;
  }
}

.container-fluid {
  margin-left: 70px;
  margin-right: 70px;
  padding: 0;
}

.actions {
  margin: 10px;
}

.categories-header {
  margin-bottom: 20px;
}

.table-category-name {
  padding-top: 13px !important;
}

.new-form {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.nav-down-button {
  margin: 20px;
}


.title {
  margin: 50px;
  margin-left: 0px;
  margin-bottom: 20px;
}

.profile {
  margin: 30px;
  margin-left: 0px;
  margin-bottom: 40px;
}

.products {
  list-style-type: none;
  padding-left: 24px;
  li {
    padding-bottom: 10px;
    &:first-of-type {
      padding-top: 20px;
    }
  }
}

.category-name {
  display: inline;
  margin-right: 40px;
}

.edit-category {
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
  top: -8px;
}

.footer {
  margin-bottom: 50px;
}
