%h1 
  Editing category
  = link_to 'Show', category, class: 'btn btn-default'

%div{:class => 'new-form'}
  = render 'form'


%p
  = link_to 'Back', categories_path, class: 'btn btn-primary nav-down-button'
